@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --black: #040707;
    --red: #860038;
    --gray: #b2b7bb;
    --white: #fbfbfb;
    --gradient: linear-gradient(270deg, #c20042 0%, #860038 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografias */
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
}

h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 120%;
}

.typeB1 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 140%;
}

.typeB2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}

/* Margen e Padding */
.p-8 {
    padding: .5rem;
}

.py-8 {
    padding: .5rem 0;
}

.mr-8 {
    margin-right: .5rem;
}

.ml-32 {
    margin-left: 2rem;
}

.mt-8 {
    margin-top: .5rem;
}

.mt-64 {
    margin-top: 4rem;
}

.mt-32 {
    margin-top: 2rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.container {
    width: fit-content;
    padding: 9.25rem 7rem 0 7rem;
    margin: 0 auto;
}

.container--row {
    width: fit-content;
    padding: 9.25rem 7rem 0 7rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a::first-letter {
    text-transform: uppercase;
}

li {
    list-style: none;
}

i {
    font-size: 1.5rem;
}

/* Header */
header {
    width: 100%;
    max-height: 96px;
    padding: 1.5rem 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
}

.nav__lista,
.newsletter,
.historia,
.historia__lista,
.historia__lista--item,
.localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__lista--link {
    position: relative;
    color: var(--white);
    font-size: 1rem;

    &::after {
        content: '';
        position: absolute;
        top: 85%;
        left: 5%;

        width: 0;
        height: 2px;
        background-color: var(--red);
        transition: .5s ease;
    }

    &:hover {
        transform: scale(1.01);
        transition: .3s ease;

        &::after {
            width: 100%;
        }
    }
}

/* Banner Home */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9.25rem;
    background-color: var(--black);
}

.banner__texto p {
    color: var(--gray);
    margin: 1rem 0 2rem 0;
}

/* Botões */
.btn__cta {
    width: fit-content;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--gradient);
    color: var(--white);
    border: none;
    font-weight: 500;
    cursor: pointer;

    transition: .3s ease;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 4px 16px 0px rgba(134, 0, 56, 0.45);
    }
}

/* Parceiros */
.parceiros {
    width: 100%;
}

/* -----  ----- */
.section__titulo,
.item--data-hora,
.informacao-2__item,
.rodape__itens,
.pessoal,
.piloto__info, .pilotos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__titulo p {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--red);
}

.section__descricao--link {
    border: 1px solid var(--red);
    border-radius: 4px;
    color: var(--gray);
    padding: .5rem;
    margin-left: 1rem;

    &:hover {
        background: var(--gradient);
        color: var(--white);
        font-weight: 500;
    }
}

/* Pilotos / Home */
.cards__pilotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card__piloto {
    max-width: 279px;
    height: 435px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--white);
    text-align: center;
}

.cBell {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/cbell.png?raw=true);
}

.dHamlin {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/dHamlin.png?raw=true);
}

.mtj {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/mtjr.png?raw=true);
}

.tGibbs {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/tyGibbs.png?raw=true);
}

.card__piloto--rede-sociais {
    width: 60%;
    text-align: center;
    border-top: 1px solid var(--black);
}

.card__piloto--rede-sociais a {
    color: var(--black);
    padding: .5rem;

    &:hover {
        color: var(--red);
    }
}

.equipe {
    background: var(--gradient);
    padding: .5rem;
    margin-top: 3rem;
}

.equipe__link {
    color: var(--white);
    padding: .5rem;
    font-weight: 500;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 5%;

        width: 0;
        height: 1px;
        background-color: var(--white);
        transition: 0.5s ease;
    }

    &:hover {
        transform: scale(1.01);
        transition: .3s ease;

        &::after {
            width: 95%;
        }
    }
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-template-areas:
        "foto1 foto2 foto4 foto4"
        "foto1 foto3 foto5 foto6";
}

.galeria__foto--1 {
    grid-area: foto1;
}

.galeria__foto--2 {
    grid-area: foto2;
}

.galeria__foto--3 {
    grid-area: foto3;
}

.galeria__foto--4 {
    grid-area: foto4;
}

.galeria__foto--5 {
    grid-area: foto5;
}

.galeria__foto--6 {
    grid-area: foto6;
}

/* Corrida */
.corrida__informacoes {
    max-width: 800px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "info1"
        "info1"
        "info2";
}

.corrida__informacao-1 {
    grid-area: info1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corrida__informacao-1 p {
    width: 80%;
    text-align: center;
    padding: 3rem 0;
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}

.corrida__informacao-2 {
    grid-area: info2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--black);
    color: var(--white);
}

.item--data-hora {
    max-width: 270px;
}

.informacao-2__item {
    max-width: 281px;
    flex-direction: column;
    gap: 1rem;
}

/* Newsletter / Loja */
.newsletter {
    flex-direction: column;
    width: 50%;
    max-width: 600px;
    padding-right: 4rem;
    text-align: center;
}

.newsletter form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.banner__loja {
    width: 50%;
    padding-left: 4rem;
    border-left: 1px solid var(--red);
}

.campo__nome-sobrenome,
.campo__email {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--red);
    background-color: transparent;
    font-size: .875rem;
    outline-style: none;
}

.campo__email--btn {
    display: flex;
    white-space: nowrap;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 8rem;
    padding: 5rem 7rem 2rem 7rem;

    background-color: var(--black);
}

.rodape__itens nav {
    padding: 0 3rem;
}

.rodape__rede--sociais {
    padding-top: .5rem;
    border-top: 1px solid rgba(251, 251, 251, 0.5);
    margin-top: .5rem;
}

.rodape__rede--sociais a {
    color: var(--white);
    padding: .5rem;
    transition: .4s ease;

    &:hover {
        color: var(--red);
    }
}

footer p {
    color: var(--gray);
    font-size: .8rem;
    margin-top: 3rem;
}

/* Sobre nós */
.historia {
    width: 50%;
    flex-direction: column;
    gap: 3rem;
    color: var(--gray);
    text-align: center;
}

.historia__lista {
    flex-direction: column;
}

.historia__lista--item {
    align-self: self-start;
    text-align: start;
}

.historia__lista--item i {
    color: var(--red);
}

.citacao-jg {
    width: 100%;
    padding: 3rem 12rem;
    background-color: var(--black);
    color: var(--white);
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
}

.localizacao__informacoes {
    background: var(--gradient);
    color: var(--white);
    height: 394px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4.5rem;
    padding: 2rem 1.8rem 7.5rem 1.8rem;
}

.localizacao__informacoes h5 {
    text-align: end;
    width: 60%;
    border-bottom: 1px solid var(--white);
}

.informacoes--conteudo {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.informacoes--conteudo div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Página pilotos */
.piloto__info--conteudo {
    width: 394px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 0 3rem 0;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.retangulo {
    width: 60%;
    height: 2px;
    background: var(--gradient);
    position: relative;
    left: 40%;
}

.pessoal {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 0 2rem;
    color: var(--gray);
}


.campeonato {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.campeonato h5 {
    width: fit-content;
    padding: .5rem 1rem;
    background: var(--gradient);
}

.piloto__info--img {
    max-width: 280px;
    max-height: 500px;
    cursor: pointer;
}

.display-none {
    display: none;
}