@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --black: #040707;
    --red: #860038;
    --gray: #b2b7bb;
    --white: #fbfbfb;
    --gradient: linear-gradient(270deg, #c20042 0%, #860038 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografias */
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
}

h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 120%;
}

.typeB1 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 140%;
}

.typeB2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}

/* Margen e Padding */
.p-8 {
    padding: .5rem;
}

.py-8 {
    padding: .5rem 0;
}

.mr-8 {
    margin-right: .5rem;
}

.ml-32 {
    margin-left: 2rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.container {
    width: fit-content;
    padding: 9.25rem 7rem 0 7rem;
    margin: 0 auto;
}

.container--row {
    width: fit-content;
    padding: 9.25rem 7rem 0 7rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a::first-letter {
    text-transform: uppercase;
}

li {
    list-style: none;
}

i {
    font-size: 1.5rem;
}

/* Header */
header {
    width: 100%;
    max-height: 96px;
    padding: 1.5rem 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
}

.nav__lista, .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__lista--link {
    position: relative;
    color: var(--white);
    font-size: 1rem;

    &::after {
        content: '';
        position: absolute;
        top: 85%;
        left: 5%;

        width: 0;
        height: 2px;
        background-color: var(--red);
        transition: .5s ease;
    }

    &:hover {
        transform: scale(1.01);
        transition: .3s ease;

        &::after {
            width: 100%;
        }
    }
}

/* Banner Home */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9.25rem;
    background-color: var(--black);
}

.banner__texto p {
    color: var(--gray);
    margin: 1rem 0 2rem 0;
}

/* Botões */
.btn__cta {
    width: fit-content;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--gradient);
    color: var(--white);
    border: none;
    font-weight: 500;
    cursor: pointer;

    transition: .3s ease;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 4px 16px 0px rgba(134, 0, 56, 0.45);
    }
}

/* Parceiros */
.parceiros {
    width: 100%;
}

/* -----  ----- */

.section__titulo,
.item--data-hora, .informacao-2__item, .rodape__itens {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__titulo p {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--red);
}

.section__descricao--link {
    border: 1px solid var(--red);
    border-radius: 4px;
    color: var(--gray);
    padding: .5rem;
    margin-left: 1rem;

    &:hover {
        background: var(--gradient);
        color: var(--white);
        font-weight: 500;
    }
}

/* Pilotos / Home */
.cards__pilotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card__piloto {
    max-width: 279px;
    height: 435px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--white);
    text-align: center;
}

.cBell {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/cbell.png?raw=true);
}

.dHamlin {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/dHamlin.png?raw=true);
}

.mtj {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/mtjr.png?raw=true);
}

.tGibbs {
    background-image: url(https://github.com/luannasantanna/JGR---JoeGibbsRacing/blob/main/imagens/equipe/pilotos/card-home/tyGibbs.png?raw=true);
}

.card__piloto--rede-sociais {
    width: 60%;
    text-align: center;
    border-top: 1px solid var(--black);
}

.card__piloto--rede-sociais a {
    color: var(--black);
    padding: .5rem;

    &:hover {
        color: var(--red);
    }
}

.equipe {
    background: var(--gradient);
    padding: .5rem;
    margin-top: 3rem;
}

.equipe__link {
    color: var(--white);
    padding: .5rem;
    font-weight: 500;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 5%;

        width: 0;
        height: 1px;
        background-color: var(--white);
        transition: 0.5s ease;
    }

    &:hover {
        transform: scale(1.01);
        transition: .3s ease;

        &::after {
            width: 95%;
        }
    }
}
